mixin btn(data)
	-
		let modsArray = '';

		if(data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray}${!data.text && data.icon ? 'btn-icon__' : 'btn__'}${modsList[i].trim()}`;
			}
		}

		const tag       =  data.link ? 'a' : 'button';
		const hasType   = !data.link ? 'button' : null;
		const hasLink   =  data.link ? data.link : null;
		const isBtnIcon = !data.text && data.icon ? `btn-icon ${modsArray}` : `btn ${modsArray}`;
		const isExcIcon =  data.excIcon ? true : false;

	#{tag}(class=isBtnIcon, href=hasLink, type=hasType)&attributes(attributes)
		if (data.icon)
			//- Icon before text
			if (data.iconBefore)
				+icon(data.icon, isExcIcon)
				if data.text
					= data.text

			//- Icon after text
			else
				if data.text
					= data.text
				+icon(data.icon, isExcIcon)

		else
			= data.text
