mixin button(data)
	-
		let mods = '';
		const isArray = Array.isArray(data.mods)
		const tag  =  data.link ? 'a' : 'button';
		const type = !data.link ? data.type || 'button' : null;

		if (!isArray && data.mods) mods = ` btn--${data.mods}`
		if (isArray && data.mods) data.mods.forEach((item) => mods = `${mods} btn--${item.trim()}`)

	#{tag}(class=`btn${mods}`, href=data.link, type=type)&attributes(attributes)= data.text
