mixin button(data)
	-
		let mods = '';
		const isArray = Array.isArray(data.mods)
		const tag  =  data.link ? 'a' : 'button';
		const type = !data.link ? data.type || 'button' : null;

		if (isArray)
			if(data.mods) data.mods.forEach((item) => mods = `${mods} button--${item.trim()}`)

		if (!isArray) mods = ` button--${data.mods}`

	#{tag}(class=`button${mods}`, href=data.link, type=type)&attributes(attributes)= data.text
