-
	const placeholder = 'assets/images/common/placeholder.png';

mixin img(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}`;
			}
		}

	img.lazy(class=modsArray, data-src=data.src, src=placeholder, alt=data.alt)&attributes(attributes)

mixin pic(data)
	-
		const imageFullName = data.src.split('.');
		const [imageName, imageExtname] = imageFullName;
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}`;
			}
		}

	picture
		source(type='image/webp', data-srcset=`assets/images/${imageName}.webp`, srcset=placeholder)
		img.lazy(
			class=modsArray,
			data-src=`assets/images/${imageName}.${imageExtname}`,
			src=placeholder,
			alt=data.alt
		)&attributes(attributes)

mixin sprite(name)
	svg&attributes(attributes)
		use(xlink:href=`assets/sprites/sprite.svg#${name}`)
