mixin img(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}`;
			}
		}

	img.lazy(class=modsArray, data-src=data.src, src='assets/images/common/placeholder.png', alt=data.alt)&attributes(attributes)

mixin pic(data)
	-
		const srcParts = data.src.split('.');
		const [srcFirstPart, extname] = srcParts;
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}`;
			}
		}
	picture
		source(
			type='image/webp',
			data-srcset=`${srcFirstPart}.webp`,
			srcset='assets/images/common/placeholder.png'
		)
		img.lazy(
			class=modsArray,
			data-src=`${srcFirstPart}.${extname}`,
			src='assets/images/common/placeholder.png',
			alt=data.alt
		)&attributes(attributes)
