//- Pagination
mixin pagination(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__pagination`;
			}
		}

	nav.pagination(class=modsArray, aria-label=(data.label = 'Page navigation'))&attributes(attributes)
		ul.pagination__inner
			block

//- Pagination item
mixin pagination-item(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} pagination__btn-${modsList[i].trim()}`;
			}
		}

	li.pagination__item
		if (data.text || data.icon)
			a.pagination__btn(class=modsArray, href=data.link)&attributes(attributes)
				if (data.text && data.icon)
					if data.mods === 'prev'
						.pagination__btn-content
							+icon(data.icon, data.isMulti)
						span.pagination__btn-content= data.text

					else
						span.pagination__btn-content= data.text
						.pagination__btn-content
							+icon(data.icon, data.isMulti)

				else if (data.icon && !data.text)
					+icon(data.icon, data.isMulti)

				else
					= data.text
		else
			span.pagination__dots&attributes(attributes) ...
