//- Arguments:
	mods        {string}  - Mod('s)
	isAccordion {boolean} - Enable accordion mode [Default: true]
	media       {string}  - Media queries '[size],[min/max]'
	title       {string}  - Spoiler title

//- Call:
	+spoiler({ isAccordion: false, media: '840,max' })
		+spoiler-item('Title')
			...
		+spoiler-item('Title')
			...
		+spoiler-item('Title')
			...

mixin spoiler(data)
	-
		let modsArray = '';
		const checkAccordion = typeof(data.isAccordion) === 'undefined' || data.isAccordion;

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__spoiler`;
			}
		}


	.spoiler(
		class=modsArray,
		data-spoilers=data.media ? data.media : '',
		accordion=checkAccordion ? '' : null
	)&attributes(attributes)
		block

mixin spoiler-item(title)
	.spoiler__item
		button.spoiler__title(tabinxex='-1', type='button', data-spoiler='')&attributes(attributes)= title
		.spoiler__content
			block
