mixin sprite(data)
	- const path = 'assets/sprites';

	if data.type !== 'image'
		svg(class=`icon icon-${data.name}`)&attributes(attributes)
			use(xlink:href=`${path}/${data.isExc ? 'eIcons' : 'icons'}.svg#${data.name}`)

	if data.type === 'image'
		svg&attributes(attributes)
			use(xlink:href=`${path}/images.svg#${data.name}`)