//- Arguments:
	mods     {string}  - Mod('s)
	text     {string}  - Dropdown toggle text
	link     {string}  - Link

//- Call:
	+dropdown({ text: 'Prfile' })
		+dropdown-item({ text: 'Your profile', link: '#' })

mixin dropdown(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} dropdown--${modsList[i].trim()}`;
			}
		}

	.dropdown(class=modsArray)&attributes(attributes)
		button.dropdown__toggle= data.text
		ul.dropdown__menu
			block

mixin dropdown-item(data)
	li.dropdown__item&attributes(attributes)
		a.dropdown__link(href=data.link)= data.text
