//- Arguments:
	text {string}    - Button text
	mods 'prev/next' - Mod('s)
	icon {string}    - Icon name
	link {string}    - Link
	dots 'true'      - Dots

//- Call:
	+pagination
		+pagination-control({ mods: 'prev', icon: 'arrow-2-left', link: '#' }).--disabled

		ul.pagination__list
			+pagination-btn({ text: '1', link: '#' }).--current
			+pagination-btn({ text: '2', link: '#' })
			+pagination-btn({ text: '3', link: '#' })
			+pagination-btn({ dots: 'true' })
			+pagination-btn({ text: '8', link: '#' })
			+pagination-btn({ text: '9', link: '#' })
			+pagination-btn({ text: '10', link: '#' })

		+pagination-control({ mods: 'next', icon: 'arrow-2-right', link: '#' })

mixin pagination(mods)
	-
		let modsArray = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__pagination`;
			}
		}

	nav.pagination(class=modsArray)&attributes(attributes)
		.pagination__inner
			block

mixin pagination-control(data)
	-
		let modsArray = '';

		if(typeof(data.mods) !== 'undefined' && data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} pagination__btn-${modsList[i].trim()}`;
			}
		}

	if (typeof(data.icon) !== 'undefined')
		a(class=modsArray, href=data.link)&attributes(attributes)
			+icon-mono(data.icon)

	else
		a(class=modsArray, href=data.link)&attributes(attributes)!= data.text

mixin pagination-btn(data)
	if (data.dots === 'true' && typeof(data.text) === 'undefined')
		li.pagination__item
			span.pagination__btn-dots&attributes(attributes) ...

	else
		li.pagination__item
			a.pagination__btn(href=data.link)&attributes(attributes)!= data.text
