//- Arguments:
	text       {string}  - Text
	mods       {string}  - Mod('s)
	icon       {string}  - Icon name
	link       {string}  - Link
	iconBefore {boolean} - Set icon before text
	isInput    {boolean} - Set button type: input

//- Call:
	//- Button type 'link'
	+btn({
		text: 'Button',
		mods: 'primary'
		link: '#',
	})

	//- Button type 'input'
	+btn({
		text: 'Button',
		mods: 'secondary',
		isInput: true,
	})

	//- Button type 'button'
	+btn({
		text: 'Button',
		mods: 'text'
		icon: 'play',
		iconBefore: true,
	})

	//- Icon button
	+btn({
		mods: 'primary',
		icon: 'bell',
	})

//- Button
mixin btn(data)
	-
		let modsArray = '';

		if(data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${!data.text && data.icon ? 'btn-icon__' : 'btn__'}${modsList[i].trim()}`;
			}
		}

	//- Button type: link
	if data.link
		//- Icon
		if (!data.text && data.icon)
			a.btn-icon(class=modsArray)&attributes(attributes)
				+icon-mono(data.icon)
				block

		//- Text
		else
			a.btn(class=modsArray, href=data.link)&attributes(attributes)
				if data.icon
					if data.iconBefore
						+icon-mono(data.icon)
						span!= data.text

					else
						span!= data.text
						+icon-mono(data.icon)
				else
					!= data.text

	//- Button type: input
	else if data.isInput
		//- Text + icon
		if (data.text && data.icon)
			label.btn(class=modsArray)
				input.btn(value=data.text, type='button', style='background-color: transparent')&attributes(attributes)
				+icon-mono(data.icon)

		//- Icon
		else if (!data.text && data.icon)
			label.btn-icon(class=modsArray)
				input(value=data.text, type='button')&attributes(attributes)
				+icon-mono(data.icon)

		//- Text
		else
			input.btn(class=modsArray, value=data.text, type='button')&attributes(attributes)

	//- Button type: button
	else
		//- Icon
		if (!data.text && data.icon)
			button.btn-icon(class=modsArray)&attributes(attributes)
				+icon-mono(data.icon)
				block

		//- Text
		else
			button.btn(class=modsArray)&attributes(attributes)!= data.text
				if (data.icon)
					+icon-mono(data.icon)
				block
