//- Arguments:
	tab  {string} - Unique tab name
	mods {string} - Mod('s)
	text {string} - Tab button text

//- Call:
	+tab({ tab: 'tabName' })
		block buttons
			+tab-btn('Tab')

		block contents
			+tab-content
				...

//- Tab
mixin tab(data)
	-
		let modsArray = '';

		if(typeof(data.mods) !== 'undefined' && data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				if (typeof(data.icon) !== 'undefined' && typeof(data.text) === 'undefined') {
					modsArray = `${modsArray} btn__icon-${modsList[i].trim()}`;

				} else {
					modsArray = `${modsArray} btn__${modsList[i].trim()}`;
				}
			}
		}

	.tabs(class=modsArray, data-tab=data.tab)&attributes(attributes)
		nav.tabs__menu(role='tablist')
			block buttons
		.tabs__inner
			block contents

//- Button
mixin tab-btn(text)
	button.tabs__menu-btn(type='button')&attributes(attributes)= text

//- Content
mixin tab-content
	.tabs__content(role='tabpanel')&attributes(attributes)
		block
