-
	const config = {
		siteName:    '',
		copyright:   'Все права защищены.',
		favicon: {
			main: './assets/images/common/favicons/favicon',
			android: './assets/images/common/favicons/android-chrome',
			apple: './assets/images/common/favicons/apple-touch-icon',
		},
		image:        null, // './assets/images/common/logo.svg'
		manifest:    './assets/images/common/favicons/manifest.json',
		fonts:       [],
	}

	const icon = {
		icon16x16:                          `${config.favicon.main}-16x16.png`,
		icon32x32:                          `${config.favicon.main}-32x32.png`,
		icon36x36:                          `${config.favicon.android}-36x36.png`,
		icon48x48:                          `${config.favicon.android}-48x48.png`,
		icon72x72:                          `${config.favicon.android}-72x72.png`,
		icon96x96:                          `${config.favicon.android}-96x96.png`,
		icon144x144:                        `${config.favicon.android}-144x144.png`,
		icon192x192:                        `${config.favicon.android}-192x192.png`,
		icon256x256:                        `${config.favicon.android}-256x256.png`,
		icon384x384:                        `${config.favicon.android}-384x384.png`,
		icon512x512:                        `${config.favicon.android}-512x512.png`,
		icon:                               `${config.favicon.main}.ico`,
		appleTouchIcon57x57:                `${config.favicon.apple}-57x57.png`,
		appleTouchIcon60x60:                `${config.favicon.apple}-60x60.png`,
		appleTouchIcon72x72:                `${config.favicon.apple}-72x72.png`,
		appleTouchIcon76x76:                `${config.favicon.apple}-76x76.png`,
		appleTouchIcon114x114:              `${config.favicon.apple}-114x114.png`,
		appleTouchIcon120x120:              `${config.favicon.apple}-120x120.png`,
		appleTouchIcon144x144:              `${config.favicon.apple}-144x144.png`,
		appleTouchIcon152x152:              `${config.favicon.apple}-152x152.png`,
		appleTouchIcon167x167:              `${config.favicon.apple}-167x167.png`,
		appleTouchIcon180x180:              `${config.favicon.apple}-180x180.png`,
		appleTouchIcon1024x1024:            `${config.favicon.apple}-1024x1024.png`,
		appleTouchIcon:                     null,
		appleTouchIconPrecomposed57x57:     null,
		appleTouchIconPrecomposed60x60:     null,
		appleTouchIconPrecomposed72x72:     null,
		appleTouchIconPrecomposed76x76:     null,
		appleTouchIconPrecomposed114x114:   null,
		appleTouchIconPrecomposed120x120:   null,
		appleTouchIconPrecomposed144x144:   null,
		appleTouchIconPrecomposed152x152:   null,
		appleTouchIconPrecomposed167x167:   null,
		appleTouchIconPrecomposed180x180:   null,
		appleTouchIconPrecomposed1024x1024: null,
		appleTouchIconPrecomposed:          null,
	};
