- const pageTitle = config.siteName && page.name ? `${config.siteName} — ${page.name}` : !config.siteName && page.name ? `${page.name}` : config.siteName;

meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
if page.description !== null
	meta(name='description', content=page.description)
if meta.keywords !== null && !(Array.isArray(meta.keywords) && !meta.keywords.length)
	meta(name='keywords', content=(Array.isArray(meta.keywords) ? meta.keywords.join(', ') : meta.keywords))
if meta.image !== null
	meta(name='image', content=meta.image)
if meta.author !== null
	meta(name='author', content=meta.author)
if meta.ogType !== null && (meta.ogUrl || meta.ogTitle || meta.ogDescription || meta.ogImage)
	meta(property='og:type', content=meta.ogType)
if meta.ogUrl !== null
	meta(property='og:url', content=meta.ogUrl)
if meta.ogLocale !== null && (meta.ogUrl || meta.ogTitle || meta.ogDescription || meta.ogImage)
	meta(property='og:locale', content=meta.ogLocale)
if meta.ogSiteName !== null
	meta(property='og:site_name', content=meta.ogSiteName)
if meta.ogTitle !== null
	meta(property='og:title', content=pageTitle)
if meta.ogDescription !== null
	meta(property='og:description', content=meta.ogDescription)
if meta.ogImage !== null
	meta(property='og:image', content=meta.ogImage)
if meta.ogImageType !== null
	meta(property='og:image:type', content=meta.ogImageType)
if meta.ogImageWidth !== null
	meta(property='og:image:width', content=meta.ogImageWidth)
if meta.ogImageHeight !== null
	meta(property='og:image:height', content=meta.ogImageHeight)
if meta.ogImageAlt !== null
	meta(property='og:image:alt', content=meta.ogImageAlt)
if meta.twitterCard !== null && (meta.twitterSite || meta.twitterCreator || meta.twitterTitle || meta.twitterDescription || meta.twitterImage)
	meta(property='twitter:card', content=meta.twitterCard)
if meta.twitterUrl !== null
	meta(property='twitter:url' content=meta.twitterUrl)
if meta.twitterSite !== null
	meta(property='twitter:site', content=meta.twitterSite)
if meta.twitterCreator !== null
	meta(property='twitter:creator', content=meta.twitterCreator)
if meta.twitterTitle !== null
	meta(property='twitter:title', content=pageTitle)
if meta.twitterDescription !== null
	meta(property='twitter:description', content=meta.twitterDescription)
if meta.twitterImage !== null
	meta(property='twitter:image', content=meta.twitterImage)
if meta.appleMobileWebAppCapable !== null
	meta(name='apple-mobile-web-app-capable', content=meta.appleMobileWebAppCapable)
if meta.appleMobileWebAppStatusBarStyle !== null
	meta(name='apple-mobile-web-app-status-bar-style', content=meta.appleMobileWebAppStatusBarStyle)
if meta.appleMobileWebAppTitle !== null
	meta(name='apple-mobile-web-app-title', content=pageTitle)
if meta.applicationName !== null
	meta(name='application-name', content=meta.applicationName)
if meta.themeColor !== null
	meta(name='theme-color', content=meta.themeColor)
if meta.themeColorLight !== null && meta.themeColor !== null
	meta(name='theme-color' media='(prefers-color-scheme: light)' content=meta.themeColorLight)
if meta.themeColorDark !== null && meta.themeColor !== null
	meta(name='theme-color' media='(prefers-color-scheme: dark)' content=meta.themeColorDark)
if meta.formatDetection !== null && (typeof meta.formatDetection === 'string' || Object.values(meta.formatDetection).some(function (value) { return !value }))
	meta(name='format-detection', content=(typeof meta.formatDetection === 'string' ? meta.formatDetection : Object.entries(meta.formatDetection).filter(function (entry) { return !entry[1] || entry[1] === 'no' }).map(function (entry) { return `${entry[0]}=no` }).join(',')))
if meta.googleTranslate !== true
	meta(name='google' content='notranslate')
if meta.robots !== null
	meta(name='robots' content=meta.robots)

title= pageTitle

if icon.icon16x16 !== null
	link(rel='icon' href=icon.icon16x16 sizes='16x16')
if icon.icon32x32 !== null
	link(rel='icon' href=icon.icon32x32 sizes='32x32')
if icon.icon36x36 !== null
	link(rel='icon' href=icon.icon36x36 sizes='36x36')
if icon.icon48x48 !== null
	link(rel='icon' href=icon.icon48x48 sizes='48x48')
if icon.icon72x72 !== null
	link(rel='icon' href=icon.icon72x72 sizes='72x72')
if icon.icon96x96 !== null
	link(rel='icon' href=icon.icon96x96 sizes='96x96')
if icon.icon144x144 !== null
	link(rel='icon' href=icon.icon144x144 sizes='144x144')
if icon.icon192x192 !== null
	link(rel='icon' href=icon.icon192x192 sizes='192x192')
if icon.icon256x256 !== null
	link(rel='icon' href=icon.icon256x256 sizes='256x256')
if icon.icon384x384 !== null
	link(rel='icon' href=icon.icon384x384 sizes='384x384')
if icon.icon512x512 !== null
	link(rel='icon' href=icon.icon512x512 sizes='512x512')
if icon.icon !== null
	link(rel='icon' href=icon.icon)

if icon.appleTouchIconPrecomposed !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed)
if icon.appleTouchIconPrecomposed57x57 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed57x57, sizes='57x57')
if icon.appleTouchIconPrecomposed60x60 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed60x60, sizes='60x60')
if icon.appleTouchIconPrecomposed72x72 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed72x72, sizes='72x72')
if icon.appleTouchIconPrecomposed76x76 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed76x76, sizes='76x76')
if icon.appleTouchIconPrecomposed114x114 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed114x114, sizes='114x114')
if icon.appleTouchIconPrecomposed120x120 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed120x120, sizes='120x120')
if icon.appleTouchIconPrecomposed144x144 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed144x144, sizes='144x144')
if icon.appleTouchIconPrecomposed152x152 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed152x152, sizes='152x152')
if icon.appleTouchIconPrecomposed167x167 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed167x167, sizes='167x167')
if icon.appleTouchIconPrecomposed180x180 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed180x180, sizes='180x180')
if icon.appleTouchIconPrecomposed1024x1024 !== null
	link(rel='apple-touch-icon-precomposed', href=icon.appleTouchIconPrecomposed1024x1024, sizes='1024x1024')

if icon.appleTouchIcon !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon)
if icon.appleTouchIcon57x57 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon57x57, sizes='57x57')
if icon.appleTouchIcon60x60 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon60x60, sizes='60x60')
if icon.appleTouchIcon72x72 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon72x72, sizes='72x72')
if icon.appleTouchIcon76x76 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon76x76, sizes='76x76')
if icon.appleTouchIcon114x114 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon114x114, sizes='114x114')
if icon.appleTouchIcon120x120 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon120x120, sizes='120x120')
if icon.appleTouchIcon144x144 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon144x144, sizes='144x144')
if icon.appleTouchIcon152x152 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon152x152, sizes='152x152')
if icon.appleTouchIcon167x167 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon167x167, sizes='167x167')
if icon.appleTouchIcon180x180 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon180x180, sizes='180x180')
if icon.appleTouchIcon1024x1024 !== null
	link(rel='apple-touch-icon', href=icon.appleTouchIcon1024x1024, sizes='1024x1024')

if config.manifest !== null
	link(rel='manifest', href=config.manifest)
if page.canonical !== null
	link(rel='canonical', href=page.canonical)

- let matchGoogleFonts;
each item in config.fonts
	- matchGoogleFonts = item.match('fonts.googleapis.com');

if matchGoogleFonts !== null
	link(rel='preconnect', href='https://fonts.googleapis.com')
	link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
	each font in config.fonts
		link(rel='stylesheet', href=font)

if config.fonts !== null && !matchGoogleFonts
	each font in config.fonts
		link(rel='preload', href=`./assets/fonts/${font}.woff2`, as='font', type='font/woff2', crossorigin)

link(rel='stylesheet', href='assets/css/main.min.css')