//- Arguments:
	text {string} - Badge content
	mod  {string} - Badge modificator (solid / outline)
	type 'num' - Indicates that the badge is numeric

//- Call:
	+badge                   - Dot badge
	+badge('10', '', 'num')  - Numeric badge
	+badge('Badge', 'solid') - Text badge

mixin badge(text, mod, type)
	-
		let badgeMod = '';

		if(typeof(mod) !== 'undefined' && mod) {
			const modsList = mod.split(',');

			for (let i = 0; i < modsList.length; i++) {
				badgeMod = `${badgeMod} badge__text badge--${modsList[i].trim()}`;
			}
		}

	//- If badge is empty
	if (typeof(text) === 'undefined')
		.badge(class=badgePrefix)&attributes(attributes)
			.badge__dot

	//- If badge is numeric
	else if (type === 'num')
		.badge(class=prefix)&attributes(attributes)
			span.badge__num!= text

	else
		.badge(class=prefix)&attributes(attributes)
			span(class=badgeMod)!= text
