//- Arguments:
	link  {string}  - Link to page
	src   {string}  - Path to image
	alt   {string}  - Alternate text
	date  {string}  - Date
	vDate {string}  - Valid date for search robots
	title {string}  - Card title
	text  {string}  - Button text
	icon  {string}  - Button icon
	isRow {boolean} - Switch to row card

//-Call
	//- Column
	.card__grid
		+card({})
			+card-preview({
				link: 'https://example.com/news/page',
				src: 'assets/images/card-preview.jpg',
				alt: 'Preview'
			})

			+card-header({ title: 'Card title' })
			.card__content
				p Lorem ipsum

			+card-footer({
				date:'01 Jan. 2022',
				vDate:'2022-01-01',
				text:'More',
				link:'https://example.com/news/page',
				icon: 'arrow-right'
			})

	//- Row
	.card__grid
		+card({ isRow: true })
			+card-preview({
				link: 'https://example.com/news/page',
				src: 'assets/images/card-preview.jpg',
				alt: 'Preview'
			})

			.card__inner
				+card-header({
					title: 'Card title',
				})

				.card__content
					p Lorem ipsum

				+card-footer({
					date:'01 Jan. 2022',
					vDate:'2022-01-01',
					text:'More',
					link:'https://example.com/news/page',
					icon: 'arrow-right'
				})

mixin card(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray}${modsList[i].trim()}'__card'`;
			}
		}

	article.card(class=data.isRow ? `row ${modsArray}` : `col ${modsArray}`)&attributes(attributes)
		block

//- Preview
mixin card-preview(data)
	.card__preview.--ibg
		a(href=data.link)
			+pic({src: data.src, alt: data.alt})

//- Header
mixin card-header(data)
	.card__header
		h3.card__title!= data.title
		if data.date
			time.card__date(datetime=data.vDate)!= data.date

//- Footer
mixin card-footer(data)
	.card__footer
		if !data.date
			if data.icon
				+btn({ text: data.text, mods: 'light', link: data.link, icon: data.icon })
			else
				+btn({ text: data.text, mods: 'light', link: data.link })

		else if !data.text
			time.card__date(datetime=data.vDate)!= data.date

		else
			time.card__date(datetime=data.vDate)!= data.date
			if data.icon
				+btn({ text: data.text, mods: 'light', link: data.link, icon: data.icon })
			else
				+btn({ text: data.text, mods: 'light', link: data.link })
