//- Arguments:
	link {string}  - Link to page
	src  {string}  - Path to image
	alt  {string}  - Alternate text
	row  {boolean} - Set card orientation as row

//-Call
	//- Column
	.card__grid
		+card({})
			+card-preview({
				link: 'https://example.com/news/page',
				src: 'https://picsum.photos/300/200',
				alt: 'Preview'
			})

			.card__header
				h3.card__title Card title

			.card__content
				p Lorem ipsum

			.card__footer
				time.card__date(datetime='2022-01-01') 01 Jan. 2022

	//- Row
	.card__grid
		+card({ row: true })
			+card-preview({
				link: 'https://example.com/news/page',
				src: 'https://picsum.photos/200/300',
				alt: 'Preview'
			})

			.card__inner
				.card__header
					h3.card__title Card title

				.card__content
					p Lorem ipsum

				.card__footer
					time.card__date(datetime='2022-01-01') 01 Jan. 2022

mixin card(data)
	-
		let modsArray = '';
		const linkPattern = "/([^\"=]{2}|^)((https?|ftp):\/\/\S+[^\s.,> )\];'\"!?])/";

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray}${modsList[i].trim()}'__card'`;
			}
		}

	article.card(class=data.row ? `row ${modsArray}` : `col ${modsArray}`)&attributes(attributes)
		block

//- Preview
mixin card-preview(data)
	- let tag;
	- data.link ? (tag = 'a') : (tag = 'div');

	#{tag}.card__preview.--ibg(href=data.link)
		if (data.src.match(linkPattern))
			+img({ src: data.src, alt: data.alt })
		else
			+pic({ src: data.src, alt: data.alt })
