//- Arguments:
	link      {string}  - Link to page
	src       {string}  - Path to image
	alt       {string}  - Alternate text
	date      {string}  - Date
	validDate {string}  - Valid date for search robots
	title     {string}  - Card title
	text      {string}  - Button text
	isRow     {boolean} - Switch to row card

//-Call
	//- Column
	.card__grid
		+card({})
			+card-preview({
				link: 'https://example.com/news/page',
				src: 'assets/images/card-preview.jpg',
				alt: 'Preview'
			})

			+card-header({ title: 'Card title' })
			.card__content
				p Lorem ipsum

			+card-footer({
				date:'01 Jan. 2022',
				validDate:'2022-01-01',
				text:'More', link:'https://example.com/news/page'
			})

	//- Row
	.row-card__grid
		+card({ isRow: true })
			+card-preview({
				link: 'https://example.com/news/page',
				src: 'assets/images/card-preview.jpg',
				alt: 'Preview',
				isRow: true
			})

			.row-card__inner
				+card-header({
					title: 'Card title',
					isRow: true
				})

				.row-card__content
					p Lorem ipsum

				+card-footer({
					date:'01 Jan. 2022',
					validDate:'2022-01-01',
					text:'More',
					link:'https://example.com/news/page',
					isRow: true
				})

//- Card
mixin card(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray}${modsList[i].trim()}${isRow ? '__row-card' : '__card'}`;
			}
		}

	article(class=data.isRow ? `row-card ${modsArray}` : `card ${modsArray}`)&attributes(attributes)
		block

//- Preview
mixin card-preview(data)
	div(class=data.isRow ? `row-card__preview --ibg` : `card__preview --ibg`)
		a(href=data.link)
			+pic({src: data.src, alt: data.alt})

//- Header
mixin card-header(data)
	div(class=data.isRow ? `row-card__header` : `card__header`)
		h3(class=data.isRow ? `row-card__title` : `card__title`)!= data.title
		if data.date
			time(class=data.isRow ? `row-card__date` : `card__date`, datetime=data.validDate)!= data.date

//- Footer
mixin card-footer(data)
	div(class=data.isRow ? `row-card__footer` : `card__footer`)
		if !data.date
			+btn({ text: data.text, mods: 'text', link: data.link, icon: 'arrow-right' })

		else if !data.text
			time(class=data.isRow ? `row-card__date` : `card__date`, datetime=data.validDate)!= data.date

		else
			time(class=data.isRow ? `row-card__date` : `card__date`, datetime=data.validDate)!= data.date
			+btn({ text: data.text, mods: 'text', link: data.link, icon: 'arrow-right' })
