//- Arguments:
	link -      Link to page
	src  -      Path to image
	alt  -      Alternate text
	date -      Date
	validDate - Valid date for search robots
	title -     Card title
	text -      Button text

//-Call
	//- Column
	.card__grid
		article.card
			+card-preview({
				link:'https://example.com/',
				src: 'assets/images/card-preview.jpg',
				alt:'Card preview',
			})

			+card-header({ title:'Card title'})
			.card__content
				p Some text

			+card-footer({
				date: '19 Feb. 2022',
				validDate: '2022-02-19',
				text: 'More',
				link: 'https://example.com/'
			})

	//- Row
	.row-card__grid
		article.row-card
			+row-card-preview({
				link: 'https://example.com/',
				src: 'assets/images/card-preview.jpg',
				alt: 'Card preview'
				})

			.row-card__inner
				+row-card-header({ title: 'Card title' })
				.row-card__content
					p Some text

				+row-card-footer({
					date:'19 Feb. 2022',
					validDate:'2022-02-19',
					text:'More',
					link:'https://example.com/',
				})

// ### Column card
//- Card
mixin card(mods)
	-
		let modsArray = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__card`;
			}
		}

	article.card(class=modsArray)&attributes(attributes)
		block

//- Preview
mixin card-preview(data)
	.card__preview.--ibg
		a(href=data.link)
			+pic(data.src)(alt=data.alt)

//- Header
mixin card-header(data)
	if (typeof(data.date) !== 'undefined')
		.card__header
			h3.card__title!= data.title
			time.card__date(datetime=data.validDate)!= data.date
	else
		.card__header
			h3.card__title!= data.title

//- Footer
mixin card-footer(data)
	if (typeof(data.date) === 'undefined')
		.card__footer
			+btn(data.text, 'text', 'arrow-right')(href=data.link)

	else if (typeof(data.date) !== 'undefined' && typeof(data.text) === 'undefined')
		.card__footer
			time.card__date(datetime=data.validDate)!= data.date

	else
		.card__footer
			time.card__date(datetime=data.validDate)!= data.date
			+btn(data.text, 'text', 'arrow-right')(href=data.link)

// ### Row card
//- Card
mixin row-card(mods)
	-
		let modsArray = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__row-card`;
			}
		}

	article.row-card(class=modsArray)&attributes(attributes)
		block

//- Preview
mixin row-card-preview(data)
	.row-card__preview.--ibg
		a(href=data.link)
			+pic(data.src)(alt=data.alt)

//- Header
mixin row-card-header(data)
	if (typeof(data.date) !== 'undefined')
		.row-card__header
			h3.row-card__title!= data.title
			time.row-card__date(datetime=data.validDate)!= data.date
	else
		.row-card__header
			h3.row-card__title!= data.title

//- Footer
mixin row-card-footer(data)
	if (typeof(data.date) === 'undefined')
		.row-card__footer
			+btn(data.text, 'text', 'arrow-right')(href=data.link)

	else if (typeof(data.date) !== 'undefined' && typeof(data.text) === 'undefined')
		.row-card__footer
			time.row-card__date(datetime=data.validDate)!= data.date

	else
		.row-card__footer
			time.row-card__date(datetime=data.validDate)!= data.date
			+btn(data.text, 'text', 'arrow-right')(href=data.link)
