//- Arguments:
	title      {string} - Title
	icon       {string} - Icon name
	mods       {string} - Mod('s)
	closeLabel {string} - Close button label (Default: 'Close modal')

//- Call:
	Any element with (data-modal-close)

	+modal({ mods: 'success', id: 'modal-1', title: 'Example modal', })
		block modal-contnent
			...

		block modal-footer
			+btn({ text: 'Cancel', mods: 'light' })
			+btn({ text: 'Confirm', mods: 'solid' })

mixin modal(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__modal`;
			}
		}

	section.modal(class=modsArray, id=data.id, aria-hidden='true')
		.modal__overlay(tabindex='-1')
			.modal__inner(role='dialog', aria-modal='true')
				.modal__header
					if data.title
						h2.modal__title!= data.title
					button.modal__close(aria-label=(data.closeLabel = 'Close modal'), data-modal-close='')

				.modal__content
					block modal-contnent

				.modal__footer
					block modal-footer
