//- Arguments:
	mods     {string}  - Mod('s)
	text     {string}  - Link title
	link     {string}  - Link
	dropdown {boolean} - Set menu item as dropdown button
	anchor   {string}  - Smooth scrolling to the specified block
	label    {string}  - Burger button aria-label

//- Call:
	#{tag}.header__logo
		+img({ src: 'assets/images/common/logo.svg', alt: 'Brand logo' })

	nav.header__nav
		.header__menu.menu
			+menu
				+menu-item({ text: 'Lorem', link: '#' })
				+menu-item({ text: 'Lorem', link: '#', dropdown: true })
					+dropdown-item({ text: 'Lorem', link: '#' })

	+burger

//- Menu
mixin menu(mods)
	-
		let modsArray = '';

		if (mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} menu__list--${modsList[i].trim()}`;
			}
		}

	ul.menu__list(class=modsArray)&attributes(attributes)
		block

//- Menu item
mixin menu-item(data)
	//- Has dropdown?
	if data.dropdown
		li.menu__item.dropdown
			button.menu__link.dropdown__toggle&attributes(attributes)= data.text
			ul.dropdown__menu
				block

	else
		li.menu__item
			//- Has anchor?
			if data.anchor
				button.menu__link(data-anchor=data.anchor)&attributes(attributes)= data.text
					block

			else
				a.menu__link(href=data.link)&attributes(attributes)= data.text
					block

//- Burger button
mixin burger(label = 'Toggle burger menu')
	button.burger(aria-label=label, aria-expanded='false', aria-controls='header__nav')&attributes(attributes)
		span
