//- Arguments:
	mods       {string} - Mod('s)
	text       {string} - Link title
	link       {string} - Link
	isDropdown 'true'   - Set nav item as dropdown button
	anchor     {string} - Smooth scrolling to the specified block

//- Call:
	+header
		.header__logo

		nav.header__nav.menu
			+menu
				+menu-item({ text: 'Home', link: '#' }).--current
				+menu-item({ text: 'About', link: '#' })

				+menu-item({ text: 'Products', link: '#', isDropdown: 'true' })
					+menu-sub-item({ text: 'Laptops', link: '#' })
					+menu-sub-item({ text: 'Headphones', link: '#' })
					+menu-sub-item({ text: 'Keyboards', link: '#' }).--disabled
					+menu-sub-item({ text: 'Mouses', link: '#' })

				+menu-item({ text: 'News', link: '#' })

				+menu-item({ text: 'Contacts', link: '#', anchor: '.section__contacts' })

		.header__burger.burger
			span

		.overlay

mixin header(mods)
	-
		let modsArray = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} header--${modsList[i].trim()}`;
			}
		}

	header.header(class=modsArray, role='banner')&attributes(attributes)
		.header__inner.container
			block

//- Navbar
mixin menu(mods)
	-
		let modsArray = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} menu__list--${modsList[i].trim()}`;
			}
		}

	//- If attr mods not empty
	if (typeof(mods) !== 'undefined')
		ul.menu__list(class=modsArray)
			block

	else
		ul.menu__list
			block

//- Nav item
mixin menu-item(data)
	//- Nav item includes dropdown
	if (typeof(data.isDropdown) !== 'undefined')
		li.menu__item(data-dropdown='')
			button.menu__link(type='button', data-dropdown-btn='')&attributes(attributes)= data.text
			ul.menu__sub-list(class=data.active)
				block

	//- Nav item includes anchor mode
	else if (typeof(data.anchor) !== 'undefined')
		li.menu__item
			a.menu__link(href=data.link, data-anchor=data.anchor)&attributes(attributes)= data.text
				block

	else
		li.menu__item
			a.menu__link(href=data.link)&attributes(attributes)= data.text
				block

//- Nav sub-item mixin
mixin menu-sub-item(data)
	li.menu__sub-item
		a.menu__sub-link(href=data.link)&attributes(attributes)= data.text
