//- Arguments:
	mods        {string}  - Mod('s)
	text        {string}  - Link title
	link        {string}  - Link
	hasDropdown {boolean} - Set nav item as dropdown button
	isSub       {boolean} - Set menu item as sub-item
	anchor      {string}  - Smooth scrolling to the specified block

//- Call:
	+header
		.header__logo

		nav.header__nav
			.header__menu.menu
				+menu
					+menu-item({ text: 'Home', link: '#' }).--current
					+menu-item({ text: 'About', link: '#' })

					+menu-item({ text: 'Products', link: '#', hasDropdown: true })
						+menu-item({ text: 'Laptops', link: '#', isSub: true })
						+menu-item({ text: 'Headphones', link: '#', isSub: true })
						+menu-item({ text: 'Keyboards', link: '#', isSub: true }).--disabled
						+menu-item({ text: 'Mouses', link: '#', isSub: true })

					+menu-item({ text: 'News', link: '#' })

					+menu-item({ text: 'Contacts', link: '#', anchor: '.section__contacts' })

		.header__burger.burger
			span

mixin header(mods)
	-
		let modsArray = '';

		if (mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} header--${modsList[i].trim()}`;
			}
		}

	header.header(class=modsArray, role='banner')&attributes(attributes)
		.header__inner.container
			block

//- Navbar
mixin menu(mods)
	-
		let modsArray = '';

		if (mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} menu__list--${modsList[i].trim()}`;
			}
		}

	ul.menu__list(class=modsArray)&attributes(attributes)
		block

//- Nav item
mixin menu-item(data)
	//- Has dropdown?
	if data.hasDropdown
		li.menu__item(data-dropdown='')
			button.menu__link(type='button', data-dropdown-btn='')&attributes(attributes)= data.text
			ul.menu__sub-list(class=data.active)
				block

	//- Is sub item?
	else if data.isSub
		li.menu__sub-item
			a.menu__sub-link(href=data.link)&attributes(attributes)= data.text

	else
		li.menu__item
			//- Has anchor?
			if data.anchor
				button.menu__link(data-anchor=data.anchor)&attributes(attributes)= data.text
					block

			else
				a.menu__link(href=data.link)&attributes(attributes)= data.text
					block
