//- Arguments:
	mods       {string} - Mod('s)
	title      {string} - Item title
	link       {string} - Item link
	isDropdown 'true'   - Set nav item as dropdown button
	anchor     {string} - Smooth scrolling to the specified block

//- Call:
	//- Header
	+header

	//- Navbar
	+nav()
		### Nav item
		+nav-item({
			title: 'Home',
			link: 'https://example.com'
		})

		### Nav item with smooth scroll mode
		+nav-item({
			title: 'About',
			anchor: '.section__about'
		})

		### Nav item as dropdown button
		+nav-item({
			title: 'Products',
			isDropdown: 'true'
		})
			### Nav sub item
			+nav-sub-item({
				title: 'Category name',
				link: 'https://example.com'
			}

mixin header(mods)
	-
		let modsArray = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} header--${modsList[i].trim()}`;
			}
		}

	header.header(class=modsArray, role='banner')&attributes(attributes)
		.header__inner.container
			block

//- Navbar
mixin nav(mods)
	-
		let modsArray = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__body`;
			}
		}

	nav.menu__body(class=modsArray)&attributes(attributes)
		ul.menu__list(data-burger='')
			block

//- Nav item
mixin nav-item(data)
	//- Nav item includes dropdown
	if (typeof(data.isDropdown) !== 'undefined')
		li.menu__item(data-dropdown='')&attributes(attributes)
			button.menu__title(type='button', data-dropdown-btn='')= data.title
			ul.menu__sub-list
				block

	//- Nav item includes anchor mode
	else if (typeof(data.anchor) !== 'undefined')
		li.menu__item&attributes(attributes)
			a.menu__title(href=data.link, data-anchor=data.anchor)= data.title
				block

	//- Nav item
	else
		li.menu__item&attributes(attributes)
			a.menu__title(href=data.link)= data.title
				block

//- Nav sub-item mixin
mixin nav-sub-item(data)
	li.menu__sub-item&attributes(attributes)
		a.menu__sub-link(href=data.link)= data.title
