//- Arguments:
	mods {string} - Mod('s)
	copy 'true'   - Turn on copyright block

//- Call:
	+footer({}) - Without copyright
	+footer({ copy: true }) - With copyright

mixin footer(data)
	-
		let modsArray = '';

		if(typeof(data.mods) !== 'undefined' && data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} footer--${modsList[i].trim()}`;
			}
		}

	//- Footer with copyright
	if (typeof(data.copy) !== 'undefined')
		footer.footer(class=modsArray, role='contentinfo')&attributes(attributes)
			.footer__inner.container
				block

				.footer__copy
					script.
						document.write(`&copy; ${new Date().getFullYear()} #{brandName}. #{copyText}`);

	//- Footer without copyright
	else
		footer.footer(class=modsArray, role='contentinfo')&attributes(attributes)
			.footer__inner.container
				block

+footer({})
