//- Arguments:
	mods {string} - Breadcrumbs container mod(s)
	text {string} - Breadcrumb link text
	link {string} - Breadcrumb link

//- Call:
	+breadcrumbs
		+breadcrumbs-item({ text: 'Home', link: 'http://example.com/' })
		+breadcrumbs-item({ text: 'News', link: 'http://example.com/news' })
		+breadcrumbs-item({ text: 'Current' })

//- Breadcrumbs
mixin breadcrumbs(mods)
	-
		let modsArray = '';

		if (mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__breadcrumbs`;
			}
		}

	nav.breadcrumbs(class=modsArray, aria-label='breadcrumb')&attributes(attributes)
		ol
			block

//- Breadcrumbs item
mixin breadcrumbs-item(data)
	li.breadcrumbs__item(
		class=!data.link ? `--current` : null,
		href=data.link ? data.link : null,
		aria-current=!data.link ? data.text : null
	)
		if data.link
			a.breadcrumbs__link(href=data.link)!= data.text

		else
			p!= data.text
