//- Arguments:
	mods        {string}  - Modificator('s)
	isAccordion {boolean} - Flag true/false

//- Call:
	+nav('burger') - Nav with accordion mode
	+nav('burger', false) - Nav without accordion mode

	+nav()
		+nav-item('Home', 'http://localhost:3300/')

	+nav()
		+nav-item('Products', '', true)

	+nav()
		+nav-item('Products', 'javascript:void(0);', false, '.section__1')

//- Creating nav
mixin nav(mods, isAccordion)
	-
		// Modificators list
		let allMods = '';

		if(typeof(mods) !== 'undefined' && mods) {
			const modsList = mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				allMods = `${allMods} ${modsList[i].trim()}__body`;
			}
		}

	//- Nav with accordion mode
	if (typeof(isAccordion) === 'undefined' || isAccordion)
		nav.menu__body(class=allMods)&attributes(attributes)
			ul.menu__list(data-burger-accordion)&attributes(attributes)
				block

	//- Nav without accordion mode
	else
		nav.menu__body(class=allMods)&attributes(attributes)
			ul.menu__list
				block

//- Creating nav item
mixin nav-item(title, link, isDropdown, anchor)
	-

	//- Nav item includes dropdown
	if (typeof(isDropdown) !== 'undefined' && isDropdown)
		li.menu__item&attributes(attributes)
			button.menu__title(tabinxex='-1', type='button', data-dropdown-btn)&attributes(attributes)= title
			ul.menu__sub-list&attributes(attributes)
				block

	//- Nav item includes anchor mode
	else if (typeof(anchor) !== 'undefined' && anchor)
		li.menu__item&attributes(attributes)
			a.menu__title(href=link, data-anchor=anchor)= title
				block

	//- Default nav item
	else
		li.menu__item&attributes(attributes)
			a.menu__title(href=link)= title
				block

//- Creating nav sub-item
mixin nav-sub-item(title, link)
	li.menu__sub-item&attributes(attributes)
		a.menu__sub-link(href=link)&attributes(attributes)= title
